@import url('https://fonts.cdnfonts.com/css/pixel12x10');

* {
    font-family: 'Pixel12x10', sans-serif;
    font-family: 'Pixel12x10Mono', sans-serif;
}

body {
    background-color: black;
    color: white;
    text-align: center;
}

header a {
    color: red;
    text-decoration: underline red;
}

